.detail-container{
    max-width:80vw ;
    margin-inline: auto;
}

.top-heading{
    margin-top: 120px;
    font-size: 2.5rem;
    margin-bottom: 50px;

}
.hero-detail{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.hero-img{
    width: 60%;
}
.detail-img{
    width: 100%;
    height: auto;
}

.hero-text{
    width: 40%;
    
}
.hero-text h3{
    font-size: 2rem;
    margin-bottom: 20px;
}
.hero-text p{
    font-size: 1.2rem;
}

.detail-para{
    margin-top: 20px;
    font-size: 1.4rem;
    margin-bottom: 80px;
}


@media screen and (max-width: 750px){
    .detail-container{
        max-width:90vw ;
        margin-inline: auto;
    }
    .top-heading{
        margin-top: 120px;
        font-size: 2rem;
        margin-bottom: 50px;
    
    }

    .hero-img{
        width: 100%;
    }

    
.hero-text{
    width: 100%;
    
}

.hero-text h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.hero-text p{
    font-size: 1rem;
}

.detail-para{
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 80px;
}
}

@media screen and (max-width: 500px){

    .top-heading{
        margin-top: 120px;
        font-size: 1.5rem;
        margin-bottom: 50px;
    
    }
}